gradle-5.6.4
node_modules

eclipse_*
FMT*

*.patch
*.rej
.gradle

git_backup.zip
target
*.epoch
/.metadata/
/.settings/
classes/*
bin/
JobMonitor*
Document*
AcctonJpa*
output
nullcsv
Chart*.jpeg
.sonarlint
*.class
.project
.classpath
.jsdtscope
Thumbs.db
*.bak
.tern-project
/.scannerwork/